@import url('https://fonts.googleapis.com/css?family=poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{
    min-height: 100vh;
    background: linear-gradient(#dcd2cb, #eaeadd);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

}
header .AKTUcode-165
{
color: #111111;
font-weight: 600;
text-decoration: none;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #070707;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #070707;
    color: #f8f6fb;
}
section
{
    position: relative;
    width: 100%;
    height: 60vh;
    padding: 70px;
}
section img
{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
}
section
{

 display: inside;
 justify-content: center;
 align-items: center;
}